# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
.eggs/

# Django / данные
*.sqlite3
backend/data/

# Node
node_modules/
frontend/dist/
npm-debug.log*

# Env
.env
.env.*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
